#select {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}

.main {
    padding: 50px 0;
}

.input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    column-gap: 20px;
}

#form button {
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    transition: all .3s;
}

#form button:hover {
    opacity: 0.8;
}

.employee {
    padding-bottom: 50px;
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.item {
    padding: 20px 60px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    transition: all .3s;
    position: relative;
}

.item:hover {
    box-shadow: 0px 0px 2px 0px #ccc;
}

.item h2 {
    margin-bottom: 15px;
    word-break: break-all;
}

.item button {
    color: red;
    position: absolute;
    top: 20px;
    right: 20px;
}